@font-face {
    font-family: "Soutane";
    src: url(../fonts/Soutane_Regular.ttf);
}

@font-face {
    font-family: "Soutane Black";
    src: url(../fonts/SoutaneBlack_Regular.ttf);
}

@keyframes crt-output {
    0% { opacity: 0.9; }
    50% { opacity: 1; }
}

@keyframes crt-glow {
    0% { opacity: 0.1; }
    50% { opacity: 0.2; }
}

html {
    font-size: 60%;
}

body {
    margin:0 auto;
    width: 60%;
    font-family: "Soutane";
    font-size: 18px;
    font-size: 1.8rem;
    padding: 0.2em;
    background-color: white;
    color: black;
    border-color: black;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing:antialiased !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    clear: both;
}

h1 {
    font-family: "Soutane Black";
    font-size: 42px;
    font-size: 4.2rem;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: "Soutane Black";
    font-size: 32px;
    font-size: 3.2rem;
    text-align: center;
    font-weight: normal;
    margin:0in;
    margin-bottom: 0.12in;
    page-break-before: always;
}

h3 {
    font-family: "Soutane Black";
    font-size: 26px;
    font-size: 2.6rem;
    text-align: center;
    font-weight: normal;
    margin: 0in;
}

h4 {
    font-family: "Soutane Black";
    font-size: 22px;
    font-size: 2.2rem;
    text-align: left;
    margin: 0in;
    margin-top: 0.1in;
    margin-bottom: 0.0in;
    font-weight: normal;
}

h5 {
    font-family: "Soutane Black";
    font-size: 18px;
    font-size: 1.8rem;
    text-align: left;
    margin: 0in;
    font-weight: normal;
}

p {
    margin: 30px 0;
    margin: 3rem 0;
    text-align: justify;
    line-height: 1.2;
}

a {
    text-decoration: none;
    -ms-word-break: break-all;
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    border: solid 2px black;
    text-align: justify;
    line-height: 1.2;
    font-size: 1.4rem;
    overflow: hidden;
    background: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
    display: contents;
    font: inherit;
    font-family: inherit;
}

span {
    float: right;
    margin-left: 0.5em;
    white-space: nowrap;
    background: inherit;
    color: inherit;
}

select {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.7em;
    background: inherit;
    color: inherit;
    border: solid 0.1em;
    border-color: inherit;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0em;
    padding: 0.2em;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    vertical-align: top;
    flex-wrap: wrap;
    width: 100%;
  }

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    vertical-align: top;
    flex-wrap: wrap;
    width: 100%;
  }

.block {
    justify-content: space-between;
    flex: 1;
    margin-left: 0.25em;
    margin-right: 0.25em;
    align-content: right;
}

.content {
    border: solid 2px;
    border-color: inherit;
    padding: 0.5em;
}

.box {
    border-collapse: separate;
    border: solid 2px;
    border-color: inherit;
    padding: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

span.mod_span {
    display: inline-block;
    width: 2rem;
    text-align: right;
}

input {
    background: inherit;
    color: inherit;
    border: solid 0.1em;
    border-color: inherit;
    padding: 0.2em;
}

input.num_span {
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    width:  1.5em;
    text-align: right;
    margin: 0em;
    padding: 0em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/* resized "small-ish" screens */
@media only screen and (max-width: 1100px) {

    body {
        width: 80%;
    }

    h1 {
        font-size: 3rem;
    }

}

/* small screens */
@media only screen and (max-width: 850px) {
    html {
        font-size: 70%;
    }

    body {
        width: 90%;
    }

    h1 {
        font-size: 3rem;
    }

    input {
        float: right;
    }

    input[type=button] {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    select.info_select {
        float: right;
    }

    .container {
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        vertical-align: top;
        flex-wrap: wrap;
        width: 100%;
    }

    .box {
        display: block;
    }

    .block {
        width: 100%;
        display: block;
        margin: 0em;
    }
}

.dark-mode {
    background-color: #303034;
    color: #abb2bf;
    border-color: #abb2bf;
}