@font-face {
    font-family: "Soutane";
    src: url(Soutane_Regular.ttf);
}

@font-face {
    font-family: "Soutane Black";
    src: url(SoutaneBlack_Regular.ttf);
}

html {
    font-size: 60%;
}

body {
    margin:0 auto;
    width: 60%;
    font-family: "Soutane";
    font-size: 18px;
    font-size: 1.8rem;
    padding: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 60px;
    margin-top: 6rem;
    clear: both;
}

h1 {
    font-family: "Soutane Black";
    font-size: 42px;
    font-size: 4.2rem;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: "Soutane Black";
    font-size: 32px;
    font-size: 3.2rem;
    text-align: center;
    font-weight: normal;
    margin:0in;
    margin-bottom: 0.12in;
    page-break-before: always;
}

h3 {
    font-family: "Soutane Black";
    font-size: 26px;
    font-size: 2.6rem;
    text-align: center;
    font-weight: normal;
    margin: 0in;
}

h4 {
    font-family: "Soutane Black";
    font-size: 22px;
    font-size: 2.2rem;
    text-align: left;
    margin: 0in;
    margin-top: 0.1in;
    margin-bottom: 0.0in;
    font-weight: normal;
}

h5 {
    font-family: "Soutane Black";
    font-size: 18px;
    font-size: 1.8rem;
    text-align: left;
    margin: 0in;
    font-weight: normal;
}

p {
    margin: 30px 0;
    margin: 3rem 0;
    text-align: justify;
    line-height: 1.2;
}

a {
    text-decoration: none;
    -ms-word-break: break-all;
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

p.range,
p.class,
p.duration {
    margin: 2px 0;
    border-bottom: 1px solid #efefef;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    border: solid 2px black;
    text-align: justify;
    line-height: 1.2;
    font-size: 1.4rem;
    overflow: hidden;
}

ul {
    list-style-type: none;
    display: contents;
}

span {
    float: right;
    margin-left: 0.5em;
}

select {
    margin-left: 0.5em;
}

#editor-container {
    height: 375px;
  }

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    vertical-align: top;
    flex-wrap: wrap;
    width: 100%;
  }

.block {
    display: inline-block;
    justify-content: space-between;
    flex: 1;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.content {
    border: solid 2px black;
    padding: 0.5em;
}

.box {
    border-collapse: separate;
    border: solid 2px black;
    padding: 0.25em;
    flex: 1;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* small screens */
@media only screen and (max-width: 800px) {
    html {
        font-size: 70%;
    }

    body {
        width: 90%;
    }

    h1 {
        font-size: 3rem;
    }

    select {
        float: right;
    }

    span {
        float: right;
    }

    input {
        float: right;
    }

    .row {
        display: block;
    }

    .box {
        display: block;
    }

    .block {
        display: block;
    }
}